<h1>Editing redditclone</h1>

<%= render "form", redditclone: @redditclone %>

<br>

<div>
  <%= link_to "Show this Twitter", @redditclone %> |
  <%= link_to "Back to Twitter", redditclones_path %>
</div>
